@media screen and (max-width: 768px){
    body {
        max-width: 375px;
    }
    .main {
        padding: 0 16px 0 16px;
        max-width: 343px;
    }
    .row {
        display: flex;
        flex-direction: column;
        max-width: 375px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .row-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container {
        width: 343px;
    }
    .container__image {
        width: 343px;
    }
    nav ul {
        display: flex;
        justify-content: center;
        padding-left: 0;
    }
    .nav-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 375px;
    }
    .nav-container-2 {
        display: flex;
        justify-content: center;
        max-width: 375px;
        height: auto;
    }
    .logo {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-right: 0;
        margin-left: 0;
    }
    .header {
        padding-bottom: 24px;
        max-width: 375px;
    }
    .h1 {
        font-size: 32px;
    }
    .border {
        max-width: 343px;
    }
    .border-2 {
        max-width: 375px;
        margin-top: 24px;
    }
    .footer {
        max-width: 375px;
    }
    nav {
        display: flex;
        justify-content: center;
    }
}

@font-face {
    font-family: "Anonymous Pro";
    src: url(fonts/AnonymousPro-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Anonymous Pro";
    src: url(fonts/AnonymousPro-Regular.ttf);
}

h1 {
    font-family: "Anonymous Pro", sans-serif;
    font-size: 48px;
    margin: 24px 0;
}

h3 {
    font-family: "Anonymous Pro", sans-serif;
    font-size: 26px;
}

p {
    font-family: "Anonymous Pro", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

a{
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #F1F1F1;
    margin: 0;
}

.header {
    background-color: white;
    border-bottom: solid 1px grey;
}

.main {
    margin: auto;
    width: 1161px;
}

.footer {
    margin-top: 15px;
    background-color: #121723;
    color: white;
    padding-top: 5px;
    padding-bottom: 20px;
}

.container {
    margin: 12px 0;
    width: 371px;
    height: auto;
    background-color: white;
    border-radius: 5%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.5s cubic-bezier(.38,-0.83,.58,1.61);
}

.container:hover {
    box-shadow: 10px 10px 13px 0 rgba(0, 0, 0, 0.25);
    margin-top: -15px;
}

img {
    margin: 5px 5px 0 5px;
    width: 371px;
}

.container__image {
    margin: 0;
    width: 365px;
    height: 254px;
    user-select: none;
    pointer-events: none;
}

.logo {
    width: 212px;
    height: 63px;
    margin: 24px 0;
    user-select: none;
    pointer-events: none;
}

.logo-footer {
    width: 300px;
    height: 22px;
    margin: 24px 0;
    user-select: none;
    pointer-events: none;
}

li {
    display: inline-block;
    font: 700 20px "Anonymous Pro", sans-serif;
    list-style-type: none;
}

nav ul {
    width: 262px;
    height: 20px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    width: 1161px;
}

#down {
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: #A1A6B4;
    margin-bottom: 0;
}
.row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.container__title {
    margin: 0;
    transition: font-size 0.5s cubic-bezier(.38,-0.83,.58,1.61);
}

.container__title:hover {
    font-size: 35px;
}

.container__text {
    margin: 10px 0 0 0;
}

.border {
    border-bottom: solid 1px #ffffff60;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 1161px;
}

.text_box {
    width: 323px;
    padding: 32px 24px;
}